
node_modules/


.env
.env.*


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/

dist/
build/

coverage/
*.lcov


.idea/
.parcel-cache/
.next/
.turbo/
.cache/
.eslintcache


*.sqlite
*.db
.env
